function join(arrayObject, separator) {
  return arrayObject.join(separator);
}

function concat(arrayObject1, arrayObject2) {
  return arrayObject1.concat(arrayObject2);
}

function reverse(arrayObject) {
  return arrayObject.reverse();
}

function indexOf(arrayObject, searchvalue) {
  if (arrayObject==null) return -1;

  return arrayObject.indexOf(searchvalue);
}


module.exports = {
  join:join
  ,concat:concat
  ,reverse:reverse
  ,indexOf:indexOf
};